@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --clr-bg: 90 0% 100%;
    --clr-foreground: 217, 66%, 14%;
    --clr-primary: 217 91% 60%;
  }
  .dark {
    --clr-bg: 217, 66%, 14%;
    --clr-foreground: 0 0% 100%;
  }
}

@layer base {
  * {
    @apply: border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
}

/* Page loader styles */

.loader-dot:nth-child(1) {
  animation: move 1s cubic-bezier(0.755, 0.05, 0.855, 0.06) alternate-reverse
    infinite;
}

.loader-dot:nth-child(2) {
  animation: move2 1s cubic-bezier(0.755, 0.05, 0.855, 0.06) alternate-reverse
    infinite;
}

.loader-dot:nth-child(3) {
  animation: move3 1s cubic-bezier(0.755, 0.05, 0.855, 0.06) alternate-reverse
    infinite;
}
.loader-dot:nth-child(4) {
  animation: move4 1s cubic-bezier(0.755, 0.05, 0.855, 0.06) alternate-reverse
    infinite;
}

@keyframes move {
  25% {
    transform: translate(30px, 0);
  }
  50% {
    transform: translate(30px, 30px);
  }
  75% {
    transform: translate(0, 30px);
  }
}
@keyframes move2 {
  25% {
    transform: translate(0px, 30px);
  }
  50% {
    transform: translate(-30px, 30px);
  }
  75% {
    transform: translate(-30px, 0px);
  }
}

@keyframes move3 {
  25% {
    transform: translate(-30px, 0px);
  }
  50% {
    transform: translate(-30px, -30px);
  }
  75% {
    transform: translate(0, -30px);
  }
}

@keyframes move4 {
  25% {
    transform: translate(0px, -30px);
  }
  50% {
    transform: translate(30px, -30px);
  }
  75% {
    transform: translate(30px, 0);
  }
}
